<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>GDPR Policy</h1>
    <h3>What do we collect?</h3>
    <p>MoneyMaven collects the following data:</p>
    <ul>
      <li>Name</li>
      <li>Email address</li>
      <li>Phone number</li>
      <li>Transaction Data of purchases and transfers made by the user</li>
      <li>Usage Data</li>
      <li>Bank Account Information</li>
    </ul>

    <h3>How do we collect your data?</h3>
    <p>You directly provide MoneyMaven with most of the data we collect. We collect data and process data when you:</p>
    <ul>
      <li>Register for the app</li>
      <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email</li>
      <li>Use or view our website via your browser's cookies</li>
      <li>Enter financial transactions into the app</li>
      <li>Integrate your account with your bank account</li>
    </ul>
    <p>MoneyMaven may also receive your data indirectly from the following sources:</p>
    <ul>
      <li>Marketing firms</li>
    </ul>

    <h3>How we will use your data?</h3>
    <p>MoneyMaven collects your data so that we can:</p>
    <ul>
      <li>Manage your account</li>
      <li>Email with special offers on other products and services</li>
      <li>Use or view our website via your browser's cookies</li>
      <li>Help our users with financial planning</li>
      <li>Fix any technical issues</li>
    </ul>

    <h3>How do we store your data?</h3>
    <p>
      MoneyMaven securely stores your data at the university of Birmingham and the following security precautions are taken to make sure
      that your data is safe:
    </p>
    <ul>
      <li>Data is encrypted before it is stored</li>
      <li>The data is regularly backed-up to ensure that there is no data loss</li>
      <li>Access to the apps data is monitored to ensure there is no unauthorized access</li>
      <li>Proper access control is set to ensure there is no unauthorized access</li>
      <li>Workers that have access to the app's data will have to use strong passwords and two factor authentication</li>
    </ul>
    <p>
      MoneyMaven will keep user data for the period of time that the user has an account. Once this time period has expired, we will delete
      your data by correctly identifying the data that needs to be deleted and wiping it from our system.
    </p>

    <h3>What are your data protection rights?</h3>
    <p>
      MoneyMaven would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
    </p>
    <ul>
      <li>Right to access - You have the right to request MoneyMaven for copies of your personal data</li>
      <li>Right to rectification - You have the right to request that MoneyMaven correct any information you believe is inaccurate</li>
      <li>Right to erasure - You have the right to request that MoneyMaven erase your personal data, under certain conditions</li>
      <li>
        Right to restrict processing - You have the right to request that MoneyMaven restrict the processing of your personal data, under
        certain conditions
      </li>
      <li>
        Right to object to processing - You have the right to object to MoneyMaven processing of your personal data, under certain
        conditions
      </li>
      <li>
        Right to data portability - You have the right to request that MoneyMaven transfer the data that we have collected to another
        organization, or directly to you, under certain conditions
      </li>
    </ul>
    <p>
      If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at
      <a href="mailto:lxs213@student.bham.ac.uk">lxs213@student.bham.ac.uk</a>
    </p>

    <h3>What are cookies?</h3>
    <p>
      Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you
      visit our websites, we may collect information from you automatically through cookies or similar technology.
    </p>

    <h3>How do we use cookies?</h3>
    <p>Money Maven uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
      <li>Keeping you signed in</li>
      <li>Understanding how you use our website</li>
    </ul>

    <h3>What types of cookies do we use?</h3>
    <p>There are a few different types of cookies, however, our website uses:</p>
    <ul>
      <li>
        Functionality – MoneyMaven uses these cookies so that we recognize you on our website and remember your previously selected
        preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are
        used.
      </li>
      <li>
        Advertising – MoneyMaven uses these cookies to collect information about your visit to our website, the content you viewed, the
        links you followed and information about your browser, device, and your IP address. Money Maven sometimes shares some limited
        aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our
        advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns
        on our website.
      </li>
    </ul>

    <h3>How to manage cookies?</h3>
    <p>
      You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
      few cases, some of our website features may not function as a result.
    </p>
    <p>
      <b>Privacy policies of other websites</b> <br />
      MoneyMaven website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to
      another website, you should read their privacy policy.
    </p>
    <p>
      <b>Changes to our privacy policy</b> <br />
      MoneyMaven keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated
      on 12 March 2023.
    </p>
    <p>
      <b>How to contact us</b> <br />
      If you have any questions about MoneyMaven's privacy policy, the data we hold on you, or you would like to exercise one of your data
      protection rights, please do not hesitate to contact us.
    </p>
    <p>
      Email us at: <a href="mailto:lxs213@student.bham.ac.uk">lxs213@student.bham.ac.uk</a> <br />
      Call us: <a href="tel:+44 7775 383705">+44 7775 383705</a> <br />
      Or write to us: Birmingham Research Park, 97 Vincent Drive, Birmingham B15 2SQ
    </p>
    <p>
      <b>How to contact the appropriate authority?</b> <br />
      Should you wish to report a complaint or if you feel that MoneyMaven has not addressed your concern in a satisfactory manner, you may
      contact the Information Commissioner's Office.
    </p>

    <p>
      Email: <a href="mailto:dpo@ico.org.uk">dpo@ico.org.uk</a> <br />
      Information Commissioner’s Office<br />
      Wycliffe House <br />
      Water Lane <br />
      Wilmslow <br />
      Cheshire <br />
      SK9 5AF <br />
    </p>
    <a href="/content/DPIAForm.pdf" target="_blank">View our DPIA form here</a>
  </body>
</html>
