<div>
  <h2 id="page-heading" data-cy="ExpensesHeading">
    <span><Strong>Expenses</Strong></span>
    <h5 class="text-end">{{ today | date: 'MM/dd/yyyy' }}</h5>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <input type="text" class="form-control me-2 small-search-box" [(ngModel)]="searchTerm" placeholder="Search by description..." />
        <button class="btn btn-success h5-font-size" (click)="filterByDescription(searchTerm)">Search</button>
      </div>
      <div class="d-flex justify-content-end">
        <h5><b>Logged in: </b>{{ currentUser?.login }}</h5>
      </div>
    </div>
    <p></p>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <h5><b> View Expenses by Types </b></h5>
      </div>
      <div class="d-flex justify-content-end">
        <h5><b>Total Monthly Expenses: </b>${{ totalMonthlyExpenses }}</h5>
      </div>
    </div>

    <style>
      .small-search-box {
        width: 200px;
      }
    </style>

    <div class="d-flex justify-content-start">
      <div class="d-flex p-3 bg-secondary btn-group btn-group-sm justify-content-center">
        <button class="btn btn-sm btn-dark" href="#" (click)="filterByExpenseType('Fixed')">Fixed</button>
        <button class="btn btn-dark" href="#" (click)="filterByExpenseType('Variable')">Variable</button>
        <button class="btn btn-dark" href="#" (click)="filterByExpenseType('Necessary')">Necessary</button>
        <button class="btn btn-dark" href="#" (click)="filterByExpenseType('Discretionary')">Discretionary</button>
        <button class="btn btn-dark" href="#" (click)="filterByExpenseType('Savings & Investment')">Savings & Investment</button>
        <button class="btn btn-dark" href="#" (click)="filterByExpenseType('Debt Repayment')">Debt Repayment</button>
        <button class="btn btn-dark" href="#" (click)="filterByExpenseType('Other')">Other</button>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.expenses.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expenses"
        [routerLink]="['/expenses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.expenses.home.createLabel"> Create a new Expense </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="expenses?.length === 0">
    <span jhiTranslate="teamprojectApp.expenses.home.notFound">No Expenses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="expenses && expenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expenseType">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.expenseType">Expense Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.amount">&pound;Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expenses of expenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/expenses', expenses.id, 'view']">{{ expenses.id }}</a>
          </td>
          <td>{{ expenses.expenseType }}</td>
          <td>{{ expenses.amount }}</td>
          <td>{{ expenses.description }}</td>
          <td>{{ expenses.date | formatMediumDate }}</td>
          <td>
            {{ expenses.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/expenses', expenses.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/expenses', expenses.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(expenses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
