<div>
  <h2 id="page-heading" data-cy="ExpensesHeading">
    <span jhiTranslate="teamprojectApp.expenses.home.title"> MoneyMaven :) </span>

    <div class="d-flex justify-content-start">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.expenses.home.refreshListLabel">Refresh list</span>
      </button>

      <!--<div class="d-flex p-3 bg-secondary justify-content-center"> -->
      <div class="d-flex p-3 bg-secondary btn-group btn-group-sm justify-content-center">
        <h6>View Expenses<br />by Type:</h6>
        <button class="btn btn-dark btn-sm" href="#" (click)="filterByExpenseType('Fixed')">Fixed</button>
        <button class="btn btn-dark btn-sm" href="#" (click)="filterByExpenseType('Variable')">Variable</button>
        <button class="btn btn-dark btn-sm" href="#" (click)="filterByExpenseType('Necessary')">Necessary</button>
        <button class="btn btn-dark btn-sm" href="#" (click)="filterByExpenseType('Discretionary')">Discretionary</button>
        <button class="btn btn-dark btn-sm" href="#" (click)="filterByExpenseType('Savings & Investment')">Savings & Investment</button>
        <button class="btn btn-dark btn-sm" href="#" (click)="filterByExpenseType('Debt Repayment')">Debt Repayment</button>
        <button class="btn btn-dark btn-sm" href="#" (click)="filterByExpenseType('Other')">Other</button>
      </div>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expenses"
        [routerLink]="['/expenses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.expenses.home.createLabel">Create a new Expense</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="expenses?.length === 0">
    <span jhiTranslate="teamprojectApp.expenses.home.notFound">No Expenses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="expenses && expenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expenseType">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.expenseType">Expense Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.amount">Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.expenses.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expenses of expenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/expenses', expenses.id, 'view']">{{ expenses.id }}</a>
          </td>
          <td>{{ expenses.expenseType }}</td>
          <td>{{ expenses.amount }}</td>
          <td>{{ expenses.description }}</td>
          <td>{{ expenses.date | formatMediumDate }}</td>
          <td>
            {{ expenses.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/expenses', expenses.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/expenses', expenses.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(expenses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
