<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-budget-heading" data-cy="BudgetCreateUpdateHeading">
        <Strong>Create or edit budget</Strong>
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.budget.monthOfTheTime" for="field_monthOfTheTime">Month Of The Time</label>
          <div class="input-group">
            <input
              id="field_monthOfTheTime"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="monthOfTheTime"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.budget.totalBudget" for="field_totalBudget">Total Budget</label>
          <input
            type="number"
            class="form-control"
            name="totalBudget"
            id="field_totalBudget"
            data-cy="totalBudget"
            formControlName="totalBudget"
          />
          <div *ngIf="editForm.get('totalBudget')!.invalid && (editForm.get('totalBudget')!.dirty || editForm.get('totalBudget')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalBudget')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalBudget')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.budget.totalSpent" for="field_totalSpent">Total Spent</label>
          <input
            type="number"
            class="form-control"
            name="totalSpent"
            id="field_totalSpent"
            data-cy="totalSpent"
            formControlName="totalSpent"
          />
          <div *ngIf="editForm.get('totalSpent')!.invalid && (editForm.get('totalSpent')!.dirty || editForm.get('totalSpent')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalSpent')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalSpent')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.budget.amountRemaining" for="field_amountRemaining"
            >Amount Remaining</label
          >
          <input
            type="number"
            class="form-control"
            name="amountRemaining"
            id="field_amountRemaining"
            data-cy="amountRemaining"
            formControlName="amountRemaining"
            [readonly]="true"
            [value]="amountRemaining"
          />
          <div
            *ngIf="
              editForm.get('amountRemaining')!.invalid &&
              (editForm.get('amountRemaining')!.dirty || editForm.get('amountRemaining')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('amountRemaining')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
