<div>
  <h2 id="page-heading" data-cy="BudgetHeading">
    <span><Strong>Budgets</Strong></span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.budget.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-budget"
        [routerLink]="['/budget/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.budget.home.createLabel"> Create a new Budget </span>
      </button>
    </div>
  </h2>

  <style>
    table.my-table {
      border-collapse: collapse;
      width: 100%;
    }
    table.my-table th,
    table.my-table td {
      border: none;
      padding: 10px;
      text-align: left;
    }
    table.my-table th {
      font-size: 20px;
      font-weight: normal;
      width: 20%;
    }
    table.my-table td {
      font-size: 25px;
      font-weight: bold;
      width: 50%;
      padding: 5px 10px;
    }
  </style>

  <table class="my-table">
    <tr>
      <th>Total Budget for the Month:</th>
      <td>{{ totalBudgetForMonth }}</td>
    </tr>
    <tr>
      <th>Total Spending for the Month:</th>
      <td>{{ totalSpendingForMonth }}</td>
    </tr>
    <tr>
      <th>Amount Remaining for the Month:</th>
      <td>{{ amountRemainingForMonth }}</td>
    </tr>
  </table>
  <br />

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="budgets?.length === 0">
    <span jhiTranslate="teamprojectApp.budget.home.notFound">No Budgets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="budgets && budgets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="budgetId">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.budget.budgetId">Budget Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="monthOfTheTime">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.budget.monthOfTheTime">Month Of The Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalBudget">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.budget.totalBudget">Total Budget</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalSpent">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.budget.totalSpent">Total Spent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amountRemaining">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.budget.amountRemaining">Amount Remaining</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let budget of budgets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/budget', budget.id, 'view']">{{ budget.id }}</a>
          </td>
          <td>{{ budget.budgetId }}</td>
          <td>{{ budget.monthOfTheTime | formatMediumDate }}</td>
          <td>{{ budget.totalBudget }}</td>
          <td>{{ budget.totalSpent }}</td>
          <td>{{ budget.amountRemaining }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/budget', budget.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/budget', budget.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(budget)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
