<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading">
        <span><Strong>Category</Strong></span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.category.categoryId">Category Id</span></dt>
        <dd>
          <span>{{ category.categoryId }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.category.categoryName">Category Name</span></dt>
        <dd>
          <span>{{ category.categoryName }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.category.description">Description</span></dt>
        <dd>
          <span>{{ category.description }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.category.budgetTarget">Budget Target</span></dt>
        <dd>
          <span>{{ category.budgetTarget }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.category.budget">Budget</span></dt>
        <dd>
          <div *ngIf="category.budget">
            <a [routerLink]="['/budget', category.budget.id, 'view']">{{ category.budget.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.category.budget">Budget</span></dt>
        <dd>
          <div *ngIf="category.budget">
            <a [routerLink]="['/budget', category.budget.id, 'view']">{{ category.budget.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
