<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-category-heading" data-cy="CategoryCreateUpdateHeading">
        <Strong>Create or edit category</Strong>
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.category.categoryId" for="field_categoryId">Category Id</label>
          <input
            type="number"
            class="form-control"
            name="categoryId"
            id="field_categoryId"
            data-cy="categoryId"
            formControlName="categoryId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.category.categoryName" for="field_categoryName">Category Name</label>
          <input
            type="text"
            class="form-control"
            name="categoryName"
            id="field_categoryName"
            data-cy="categoryName"
            formControlName="categoryName"
          />
          <div
            *ngIf="editForm.get('categoryName')!.invalid && (editForm.get('categoryName')!.dirty || editForm.get('categoryName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('categoryName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.category.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.category.budgetTarget" for="field_budgetTarget">Budget Target</label>
          <input
            type="number"
            class="form-control"
            name="budgetTarget"
            id="field_budgetTarget"
            data-cy="budgetTarget"
            formControlName="budgetTarget"
          />
          <div
            *ngIf="editForm.get('budgetTarget')!.invalid && (editForm.get('budgetTarget')!.dirty || editForm.get('budgetTarget')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('budgetTarget')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('budgetTarget')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.category.budget" for="field_budget">Budget</label>
          <select
            class="form-control"
            id="field_budget"
            data-cy="budget"
            name="budget"
            formControlName="budget"
            [compareWith]="compareBudget"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="budgetOption" *ngFor="let budgetOption of budgetsSharedCollection">{{ budgetOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.category.budget" for="field_budget">Budget</label>
          <select
            class="form-control"
            id="field_budget"
            data-cy="budget"
            name="budget"
            formControlName="budget"
            [compareWith]="compareBudget"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="budgetOption" *ngFor="let budgetOption of budgetsSharedCollection">{{ budgetOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
