<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span><Strong>Categories</Strong></span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.category.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.category.home.createLabel"> Create a new Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="teamprojectApp.category.home.notFound">No Categories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categoryId">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.category.categoryId">Category Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categoryName">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.category.categoryName">Category Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.category.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="budgetTarget">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.category.budgetTarget">Budget Target</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!--<th scope="col" jhiSortBy="budget.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.category.budget">Budget</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="budget.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.category.budget">Budget</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td>{{ category.categoryId }}</td>
          <td>{{ category.categoryName }}</td>
          <td>{{ category.description }}</td>
          <td>{{ category.budgetTarget }}</td>
          <td>
            <div *ngIf="category.budget">
              <a [routerLink]="['/budget', category.budget.id, 'view']">{{ category.budget.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="category.budget">
              <a [routerLink]="['/budget', category.budget.id, 'view']">{{ category.budget.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/category', category.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/category', category.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
