<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body></body>
</html>

<div class="row">
  <div class="col-md-4" [ngSwitch]="account != null">
    <div id="sideMenu" *ngSwitchCase="true">
      <div id="sideMenuFixed"></div>
      <div id="sidecontent">
        <ul class="menu">
          <li>Dashboard</li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/analytics">Analytics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/income">Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/expenses">Expenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/budget">Budget</a>
          </li>
        </ul>

        <ul class="menu">
          <li>Account</li>
          <li class="nav-item">
            <a class="nav-link" (click)="loadSettings()">Settings</a>
          </li>
        </ul>
        <p *ngIf="account">Logged in as {{ account.login }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-8" [ngSwitch]="account != null">
    <div id="content" *ngSwitchCase="true">
      <div id="titleBar">
        <h5 class="text-end">Date:{{ today | date: 'dd/MM/yyyy' }}</h5>
        <br />
        <h1>Dashboard</h1>
        <h2>Monthly Financial Summary</h2>
      </div>
      <br />
      <br />

      <div class="clearFix"></div>

      <br />
      <br />

      <div id="totalSales">
        <div class="col">
          <h4>Income</h4>
          <h3>${{ totalMonthlyIncome }}</h3>
        </div>
        <div class="col">
          <h4>Expenses</h4>
          <h3>${{ totalMonthlyExpenses }}</h3>
        </div>
        <div class="col">
          <h4>Balance</h4>
          <h3>${{ totalMonthlyIncome - totalMonthlyExpenses }}</h3>
        </div>
      </div>

      <img
        src="../../content/images/dashboard_transparent_image.png"
        alt="Money Maven dashboard picture showing a bag with the dollar symbol of it and dollar coins beside it"
        width="600"
        height="600"
      />

      <br />
      <br />

      <h6>How Money Maven works:</h6>

      <h6>
        Our easy-to-use web app lets you record and track your finances all in one place. By monitoring your income, spending, and budget,
        you can get a complete picture of your financial health and find ways to improve it.
      </h6>
    </div>
  </div>

  <div class="col-md-6" [ngSwitch]="account != null">
    <div *ngSwitchCase="false">
      <h1 class="display-4"><span jhiTranslate="home.title">Welcome to </span> MoneyMaven!</h1>
      <br />
      <h1>Spend Less.</h1>
      <h1>Save More.</h1>

      <p>Log in or create your account now to grow your savings!</p>
    </div>

    <div class="alert alert-warning" *ngSwitchCase="false">
      <a class="alert-link" (click)="login()">Log in</a>
    </div>

    <div class="alert alert-warning" *ngSwitchCase="false">
      <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
      <a class="alert-link" routerLink="account/register">Sign up - it's free</a>
    </div>
  </div>
</div>
