<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome to </span> MoneyMaven!</h1>
    <br />
    <h1>Spend Less.</h1>
    <h1>Save More.</h1>

    <p>Log in or create your account now to grow your savings!</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <a class="alert-link" (click)="login()">Log in</a
        ><span>
          - you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Sign up - it's free</a>
      </div>
    </div>
  </div>
</div>
