<div>
  <!--  <h1>{{totalFixedExpense}} , {{totalDebtExpense}}, {{totalVariableExpense}} , {{totalNecessaryExpense}}, {{totalDiscreationaryExpense}}, {{totalSavingInvestmentExpense}}, {{totalOtherExpense}}</h1>-->
  <h2 id="page-heading" data-cy="AnalyticsHeading">
    <span style="position: absolute; margin-top: 15px; margin-left: 40px; font-family: 'Lato', sans-serif"><strong>Analytics</strong></span>

    <div class="d-flex justify-content-end">
      <!--      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">-->
      <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
      <!--        <span jhiTranslate="teamprojectApp.analytics.home.refreshListLabel">Refresh list</span>-->
      <!--      </button>-->
    </div>
  </h2>

  <br />
  <br />
  <h3 style="padding: 40px">
    <span *ngIf="totalMonthlyIncome > totalMonthlyExpenses"
      >Your profit this month is <b style="color: rgb(0, 149, 0)">${{ totalMonthlyIncome - totalMonthlyExpenses }} </b>
    </span>
    <span *ngIf="totalMonthlyIncome < totalMonthlyExpenses"
      >You are in a loss of <b style="color: rgb(189, 0, 0)">${{ totalMonthlyIncome - totalMonthlyExpenses }} </b>this month
    </span>
    <br />
    Your monthly income is <b style="color: rgb(0, 149, 0)">${{ totalMonthlyIncome }}</b> and your monthly expense is
    <b style="color: rgb(189, 0, 0)">${{ totalMonthlyExpenses }}</b>
    <br />
    On average you spend <b style="color: rgb(189, 0, 0)">${{ Math.round(totalMonthlyIncome / 30 - totalMonthlyExpenses / 30) }}</b> each
    day
  </h3>
  <br />
  <br />
  <div style="background-color: #fff; height: 340px; width: 100%; display: flex; justify-content: space-around">
    <div
      #pieChart
      style="
        background-color: #fff;
        height: 340px;
        width: 100%;
        display: flex;
        justify-content: right;
        justify-items: right;
        margin-right: 100px;
      "
    ></div>
    <div
      #catagoryWisePieChart
      style="
        background-color: #fff;
        height: 340px;
        width: 100%;
        display: flex;
        justify-content: right;
        justify-items: right;
        margin-right: 100px;
      "
    ></div>
  </div>
  <hr style="box-shadow: 5px 3px #888888" />

  <br />

  <h3 style="padding: 30px">Graphical Representation of your Financial Data is as follows:</h3>
  <br />
  <div #chartdiv style="padding: 0px 25px 25px 25px; background-color: #fff; height: 700px; width: 100%"></div>
  <br />
  <div style="display: flex; flex-direction: row; justify-content: space-around">
    <div style="display: flex; flex-direction: row; gap: 10px">
      <h5>Change Graph Type</h5>

      <button #line class="btn btn-secondary" (click)="line_fn()">Line</button>
      <button #bar class="btn btn-secondary" (click)="bar_fn()">Bar</button>
    </div>
    <div style="display: flex; flex-direction: row; gap: 10px"></div>
    <div style="display: flex; flex-direction: row; gap: 10px">
      <h5>No. of points</h5>
      <button #no_5 class="btn btn-outline-secondary" (click)="five_points_fn()">5</button>
      <button #no_10 class="btn btn-outline-secondary" (click)="ten_points_fn()">10</button>
      <button #no_20 class="btn btn-outline-secondary" (click)="twenty_points_fn()">20</button>
      <button #no_30 class="btn btn-outline-secondary" (click)="thirty_points_fn()">30</button>
      <button #no_50 class="btn btn-outline-secondary" (click)="fifty_points_fn()">50</button>
      <button #no_max class="btn btn-outline-secondary" (click)="max_points_fn()">Max</button>
    </div>
  </div>
  <br /><br />
  <br />
  <hr style="box-shadow: 1px 3px #888888" />

  <h1 #opera></h1>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="analytics?.length === 0">
    <span jhiTranslate="teamprojectApp.analytics.home.notFound">No Analytics found</span>
  </div>
</div>
