<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="budget">
      <h2 data-cy="budgetDetailsHeading"><span jhiTranslate="teamprojectApp.budget.detail.title">Budget</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ budget.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.name">Name</span></dt>
        <dd>
          <span>{{ budget.name }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.startDate">Start Date</span></dt>
        <dd>
          <span>{{ budget.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.endDate">End Date</span></dt>
        <dd>
          <span>{{ budget.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.limit">Limit</span></dt>
        <dd>
          <span>{{ budget.limit }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/budget', budget.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
