<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="budget">
      <h2 data-cy="budgetDetailsHeading"><span jhiTranslate="teamprojectApp.budget.detail.title">Budget</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ budget.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.budgetId">Budget Id</span></dt>
        <dd>
          <span>{{ budget.budgetId }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.monthOfTheTime">Month</span></dt>
        <dd>
          <span>{{ budget.monthOfTheTime | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.totalBudget">Total Budget</span></dt>
        <dd>
          <span>{{ budget.totalBudget }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.totalSpent">Total Spent</span></dt>
        <dd>
          <span>{{ budget.totalSpent }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.budget.amountRemaining">Amount Remaining</span></dt>
        <dd>
          <span>{{ budget.amountRemaining }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/budget', budget.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
